:root {
  --bg: rgb(74, 46, 61);
  --color: rgb(214, 216, 176);
}

@font-face {
    font-family: 'noto_emojiregular';
    src: url('font/notoemoji-webfont.woff2') format('woff2'),
         url('font/notoemoji-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: var(--bg);
  color: var(--color);
  overflow: hidden;
  font-size: 20px;
}

#loading {
  font-family: monospace;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.none {
  display: none;
}

.dialog {
  position: absolute;
  text-align: center;
  word-break: keep-all;
}
.dialog div::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-top-color: var(--color);
  border-bottom: 0;
  margin-left: -0.5em;
  margin-bottom: -0.5em;
}
.dialog div {
  position: absolute;
  padding: 0.5em;
  /*background: var(--color);*/
  border: 1px solid var(--color);
  border-radius: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-100% - 1.75em));
}

@keyframes pop {
  0% {
    transform: translate(-50%, calc(-100% - 1em)) scale(-0.5);
  }
  100% {
    transform: translate(-50%, calc(-100% - 1em)) scale(1);
  }
}

.invisible {
  opacity: 0;
  pointer-events: none;
  transition: 500ms opacity;
}