:root {
  --bg: rgb(74, 46, 61);
  --color: rgb(214, 216, 176);
}

@font-face {
    font-family: 'noto_emojiregular';
    src: url('font/notoemoji-webfont.woff2') format('woff2'),
         url('font/notoemoji-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background: var(--bg);
  color: var(--color);
}

#loading {
  font-family: monospace;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.none {
  display: none;
}